* {
    font-size:large;
    font-family: Georgia, 'Times New Roman', Times, serif;


}

body {
    background-color: rosybrown;
    margin: 3rem;
 
}

.container{
        display:grid;
        justify-content: center;
        align-items: center;
      
}


#par{
    color: rgb(194, 8, 8);
    border-radius: 5px;
    border:solid, 5px, rgb(19, 19, 19);
    background-color:rgb(177, 118, 233) ;
    font-weight: bold;

}

#par:hover{
    cursor:pointer;
    
}

#impar{
    color:rgb(32, 30, 175);
    border-radius: 5px;
    border:solid, 5px, rgb(19, 19, 19);
    background-color: rgb(238, 153, 93);
    font-weight: bold;

}

#impar:hover{
    cursor:pointer;
}
